@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=Fredoka:wght@500;600;700&family=Space+Mono:wght@400;700&display=swap');
:root {
    --bg: #fff9e6;

    --accent: #00a8a8;

    --color-text: #1a1a1a;

    font-family: Comfortaa, system-ui, sans-serif;
    font-synthesis: none;
}

*,
*:before,
*:after {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    color: var(--color-text);
}

body {
    font-size: 1.6rem;
    background-color: var(--bg);
}

a {
    color: inherit;
}

button {
    font: inherit;
}

h1,
h2,
h3,
p {
    margin-top: 0;
}
h1,
h2,
h3 {
    font-family: Fredoka, sans-serif;
}
